// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$blue_new: #1d1148;
$izireach_orange: rgb(255, 141, 61);
$izireach_green: rgb(2, 222, 176);
$izireach_red: rgb(222, 44, 112);
