body {
  // background-color: #f7f7f7cc;
  background-color: white;
  font-family: 'Mukta', sans-serif;
}

a {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

input.btn {
  width: 100%;
}
