.infos-show-influencer {
  text-align: center;
  margin-top: -80px;

  img {
  width: 140px;
  box-shadow: 0px 2px 10px #f28abc2b;
}
  h2 {
    padding-top: 25px;
    font-size: 25px;
  }
}

.card-info {
  box-shadow: 0px 2px 10px #f28abc2b;
  padding: 2px 5px;
  border-radius: 10px;
  width: 120px;
  height: 50px;
}

#img-influencer {
  width: 140px;
  border-radius: 50%;
  box-shadow: 0px 2px 10px #f28abc2b;
}

#img-background {
  width: 100%;
  border-radius: 25px;
  height: 200px;
  object-fit: cover;
}
