<div class="container-navbar">
  <div class="list-links">
    <ul class="link">
      <li class="one"><%= link_to "home", root_path%></li>
      <!-- <li class="divider-vertical-second-menu"></li> -->
      <li class="two">blabla</li>
      <!-- <li class="divider-vertical-second-menu"></li> -->
      <li class="three">test</li>
      <!-- <li class="divider-vertical-second-menu"></li> -->
      <li class="four">profil</li>
      <hr />
    </ul>
  </div>
</div>
