<div class="container-navbar">
  <div class="list-links">
    <ul class="link">
      <li><%= link_to "home", root_path%></li>
      <li class="divider-vertical-second-menu"></li>
      <li>blabla</li>
      <li class="divider-vertical-second-menu"></li>
      <li>test</li>
      <li class="divider-vertical-second-menu"></li>
      <li>profil</li>
    </ul>
  </div>
</div>
