<h1>Izireach</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="btn">
<%= link_to "Create Company", new_company_path%>
</div>
<div class="btn">
<%= link_to "Create influencer profil", new_influencer_path%>
</div>