.banner {
  // background-image:linear-gradient(to right, #7579e7 0%, #9ab3f5 51%, #b9fffc 100% ) ;
  background-image: url(https://media.giphy.com/media/2tNvsKkc0qFdNhJmKk/giphy.gif);
  background-position: cover;
  width: 100%;
  height: 60vh;
  margin-top:-60px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position:center;
 }
 .banner-content{
  padding:50px;
  color: white;
 }
 .banner-content h1{
  font-size: 60px;
  font-weight:1000;
 }

 .first{
  background-image: url(https://images.unsplash.com/photo-1573483204500-c18954bd33bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);
  display: inline-block;
  width: 100%;
  height:100%;
}

 .second{
  background-image: url(https://images.unsplash.com/photo-1577481759269-f01ade4b3256?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);
  display: block;
  width: 100%;
  height:100%;
}

 .third{
  background-image: url(https://images.unsplash.com/photo-1496147195884-6ab7f7c0a027?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
  display: block;
  width: 100%;
  height:100%;
}
.carousel {
  padding: 100px 0px 100px 0px;
  display:flex;
  height: 70vh;
}
.centered {
  position: absolute;
  background-color:#F8F8F8;
  width: 750px;
  height: 200px;
  border-radius: 2%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #373963;
  font-weight: 400;
  font-size: 25px;
  text-align:center;
  box-shadow: 0 0 10px;
}
