.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: left;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}


.banner-content{
  padding:50px 50px 50px 0px;
  color: white;
  width: 100%;
  display: flex;
  margin-left: 10vw;
  justify-content: center;
  align-items: left;
  flex-direction: row;
}
.banner-content h1{
  font-size: 60px;
  font-weight:1000;
}

.first{
  background-image: url(https://images.unsplash.com/photo-1573483204500-c18954bd33bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);
  display: inline-block;
  width: 100%;
  height:100%;
}

.second{
  background-image: url(https://images.unsplash.com/photo-1577481759269-f01ade4b3256?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);
  display: block;
  width: 100%;
  height:100%;
}

.third{
  background-image: url(https://images.unsplash.com/photo-1496147195884-6ab7f7c0a027?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
  display: block;
  width: 100%;
  height:100%;
}
.carousel {
  padding: 100px 0px 100px 0px;
  display:flex;
  height: 70vh;
}
.centered {
  position: absolute;
  background-color:#F8F8F8;
  width: 750px;
  height: 200px;
  border-radius: 2%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #373963;
  font-weight: 400;
  font-size: 25px;
  text-align:center;
  box-shadow: 0 0 10px;
}
