.hover-btn-white:hover {
  opacity: 0.8;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
}

.hover-btn-transparent:hover {
  background: white;
  color: $blue_new !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
}

.remove_submit_style {
  background: none;
  border: none;
  color: unset !important;
}

.box_shadow_gray {
  box-shadow: rgba(29, 17, 72, 0.15) 0px 4px 40px;
}

.shadow_button_blue::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 90%;
  padding: 5px;
  background-size: 100% 100%;
  background-clip: content-box;
  background-position: center center;
  background-image: linear-gradient(90deg, rgb(155, 110, 210) 0%, rgb(221, 99, 147) 25%, rgb(249, 161, 85) 50%, rgb(234, 112, 207) 75%, rgb(98, 218, 251) 100%);
  z-index: -1;
  display: block;
  filter: blur(20px);
  transform: translate3d(0px, 0px, 0px);
}

.button_blue {
  position: relative;
  width: max-content;
  min-height: 48px;
  border-radius: 100px;
  border: 1px solid $blue_new;
  font-size: 16px;
  padding: 12px 24px;
  line-height: 24px;
  text-align: center;
  background-color: $blue_new;
  color: rgb(255, 255, 255) !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    color: $blue_new !important;
    background-color: white;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
}

.gradient-blue-button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  transition: 0.5s;
  color: #FFF;
  box-shadow: 0 0 20px #eee;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 25px;
  background-image: linear-gradient(to right, #7579e7 0%, #9ab3f5 51%, #b9fffc 100% );
}

.gradient-blue-button:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 5px 0px;
  background-image: linear-gradient(to right, #9ab3f5 0%, #a3d8f4 50%, #b9fffc 100% );
  background-position: right center;
  text-decoration: none;
  color: white;
}

.gradient-pink-button{
  // margin: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  // padding: 15px;
  text-align: center;
  transition: 0.5s;
  color: #FFF;
  box-shadow: 0 0 20px #eee;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 25px;
  background-image: linear-gradient(to right, #C8A9E5 0%, #F28ABC 70%, #ea86b6 100% );
}
.gradient-pink-button:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  // margin: 5px 0px;
  background-image: linear-gradient(to right, #ea86b6 0%, #F28ABC  70%, #EDA3D4 100% );
  background-position: right center;
  text-decoration: none;
  color: white;
}
