.pdg {
background: orange;
text-align: center;
color: white;
border-radius: 10px;
font-weight: bold;
}

.accp {
  background: rgba(2, 126, 53, 0.822);
  text-align: center;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.ref {
    background: rgba(150, 6, 6, 0.822);
    text-align: center;
    color: white;
    border-radius: 10px;
    font-weight: bold;
  }