.pdg {
  background: orange;
  text-align: center;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  padding-top: 3px;
}

.accp {
  background: green;
  text-align: center;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  padding-top: 3px;
}

.ref {
  background: red;
  text-align: center;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  padding-top: 3px;
}
