.container-companies {
  padding: 45px 80px;
  box-shadow: 0px 2px 10px #f28abc61;
  border-radius: 10px;
  width: 750px;
  margin: auto;
}

////

.container-show-influencer {
  padding: 45px 80px;
  box-shadow: 0px 2px 10px #f28abc61;
  border-radius: 10px;
  width: 750px;
  margin: auto;
}

.container-info-account-influencer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 430px;
  margin: auto;
}
