.description_card {
    background-color: rgb(248, 251, 252);
    margin: 0px 5px 0px 25px;
    border-radius: 4px;
    width: 400px;
    margin-top: initial;
    height: 100%;
    overflow: scroll;
}
