.site-footer {
  // background-image: linear-gradient(to right, #7579e7 0%, #9ab3f5 51%, #b9fffc 100% );
  padding: 10px 0px 20px 0px;
  font-size: 35px;
  line-height: 24px;
  text-align: center;
  // border-radius:5px;
  max-height: 110px;
  position: relative;
}

.social-links {
  padding-left: 0px;
  padding-right: 0px;
}

.social-links li {
  display:inline;
  padding:10px;
}

.white_footer_fab {
  font-size: 32px;
  color: white;
  padding:2px 0 1px;
}

.black_footer_fab {
  font-size: 32px;
  color: $blue_new;
  padding:2px 0 1px;
}

// .twitter {
//   // -webkit-background-clip: text;
//   // -webkit-text-fill-color: transparent;
//   // background: -webkit-gradient(to right, #7579e7 0%, #9ab3f5 51%, #b9fffc 100% );
//   padding:2px 0 1px;
// }

.twitter:hover {
  font-size:50px;
  color:#F1F1F1;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

// .facebook {
//   // -webkit-background-clip: text;
//   // -webkit-text-fill-color: transparent;
//   // background: -webkit-gradient(to right, #7579e7 0%, #9ab3f5 51%, #b9fffc 100% );
// }

.facebook:hover {
  font-size:50px;
  color:#F1F1F1;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

// .instagram {
//   // -webkit-background-clip: text;
//   // -webkit-text-fill-color: transparent;
//   // background: -webkit-gradient(to right, #7579e7 0%, #9ab3f5 51%, #b9fffc 100% );
//   padding:2px 0 1px;
// }

.instagram:hover {
  color:#F1F1F1;
  font-size:50px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

// .linkedin {
//   // -webkit-background-clip: text;
//   // -webkit-text-fill-color: transparent;
//   // background: -webkit-gradient(to right, #7579e7 0%, #9ab3f5 51%, #b9fffc 100% );
//   padding:2px 0 1px;
// }

.linkedin:hover {
  color:#F1F1F1;
  font-size:50px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
